<div id="{{id}}" class="bal-container h-full w-full">

    <div class="bal-after">
        <img src="{{after}}">

        <div class="bal-afterPosition afterLabel">
            {{after_text}}
        </div>

    </div>

    <div class="bal-before">
        <div class="bal-before-inset">
            <img src="{{before}}">

            <div class="bal-beforePosition beforeLabel">
                {{before_text}}
            </div>

        </div>
    </div>

    <div class="bal-handle">
        <span class=" handle-left-arrow"></span>
        <span class="handle-right-arrow"></span>
    </div>

</div>