<button class="slider-nav-btn go-prev">
    <div class="" style="width:25px; height:25px">
        {% partial 'svgs/icons/arrow-circle-left' %}</div>
</button>
<button class="slider-nav-btn start-autoplay">
    <div class="" style="width:25px; height:25px">
        {% partial 'svgs/icons/play-circle' %}</div>
</button>
<button class="slider-nav-btn stop-autoplay">
    <div class="" style="width:25px; height:25px">
        {% partial 'svgs/icons/pause' %}</div>
</button>
<button class="slider-nav-btn go-next">
    <div class="" style="width:25px; height:25px">
        {% partial 'svgs/icons/arrow-circle-right' %}</div>
</button>