<div class="container m-auto">
    <div class="mb-4 bg-gray-200">
        <div class="flex flex-col lg:flex-row justify-center lg:justify-start">
            <div class="w-full lg:{{data.size_text}} flex flex-col justify-center items-center p-4">
                <h3 class="c-h3 text-center">En construction</h3>
                <div class="p-2 text-center">Contenu en construction</div>
            </div>
            <div class="p-8 w-full lg:{{data.size_svg}}">
                {% partial 'svgs/construction' %}
            </div>
        </div>
    </div>
</div>