<!--Body-->
<form data-request="{{ __SELF__ }}::onFormSubmit">
    <div class="w-full flex flex-row flex-wrap justify-around text-white">
        <div class="w-full">
            <h3>Contact</h3>
            <img src="{{ 'assets/images/logo_w@0.5x.png' | theme }}"" class=" p-1 h-12">
            <p>AD</p>
            <p>XXXX XXXX XXX XXXX</p>
            <p> {{ 'xxx.xxx@gmail.com' | mailto }}</p>
            <div id="{{ __SELF__ }}_forms_flash"></div>
        </div>
        <div class="w-full items-center">


            {{ form_token() }}

            <div class="flex flex-row flex-wrap p-1">



                <div class="p-2 w-full ">
                    <label for="name" class="block ">Nom:</label>
                    <input type="text" id="name" name="name" class="block p-2 text-mydark w-full">
                </div>

                <div class="p-2 w-full ">
                    <label for="name" class="block ">Email :</label>
                    <input type="text" id="email" name="email" class="block p-2 text-mydark w-full">
                </div>

                <div class="p-2 w-full">
                    <label for="subject" class="block ">Sujet :</label>
                    <input type="text" id="subject" name="subject" class="block p-2 text-mydark w-full">
                </div>

                <div class="p-2 w-full">
                    <label for="comments" class="block ">Commentaires :</label>
                    <textarea id="comments" name="comments" rows="4" class="block p-2 text-mydark w-full"></textarea>
                </div>

                <div class="form-group">
                    {% partial '@recaptcha' %}
                </div>

                <button id="simpleContactSubmitButton" type="submit"
                    class="btn btn-secondary p-2 m-2 w-48">Envoyer</button>

            </div>

        </div>
</form>